/* Color Variables */
html {
	--text-primary: #16161D;
	--text-secondary: #97979B;
	--background: #F8F8F8;
	--background-blur: rgba(248, 248, 248, 0.1);
	--desktop-margin: 3rem;
	--desktop-nav-top-padding: 1.25rem;
	--mobile-margin: 1.25rem;
	--mobile-nav-top-padding: 0.875rem;
}

html[data-theme='dark'] {
	--text-primary: #E5E5E6;
	--text-secondary: #7D7D82;
	--background: #161619;
	--background-blur: rgba(22, 22, 25, 0.1);
}

p {
	margin: 0px;
}

a {
	text-decoration: none;
	color: var(--text-secondary);
}

a:hover {
	color: var(--text-primary);
}

body {
	font-family: "acumin-pro", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 1.125rem;
	line-height: 1.5rem;
	display: flex;
	justify-content: flex-end;
	padding-right: var(--desktop-margin);
	background-color: var(--background);
	color: var(--text-primary);
	pointer-events: none;
}

@media screen and (max-width: 560px) {
	body {
		justify-content: flex-start;
		flex-direction: column;
		padding-left: var(--mobile-margin);
		padding-right: var(--mobile-margin)
	}
}

.allcaps {
	font-feature-settings: "cpsp";
}

/* Nav Bar */
nav {
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	pointer-events: auto;
}

@media screen and (max-width: 560px) {
	nav {
		width: 100%;
		position: relative;
		z-index: initial;
		top: initial;
		left: initial;
		justify-content: space-between;
		margin-right: auto;
		margin-left: auto;
	}
}

.nav_logo {
	position: fixed;
	top: var(--desktop-nav-top-padding);
	left: var(--desktop-margin);
}

.nav_logo a {
	color: var(--text-primary);
}

@media screen and (max-width: 560px) {
	.nav_logo {
		position: relative;
		top: inherit;
		left: inherit;
		padding-top: var(--mobile-nav-top-padding);
	}
}

.nav_menu {
	display: flex;
	padding-top: var(--desktop-nav-top-padding);
	margin-right: var(--desktop-margin);
	max-width: 25rem;
}

@media screen and (max-width: 560px) {
	.nav_menu {
		max-width: unset;
		padding-top: var(--mobile-nav-top-padding);
		margin-right: 0;
	}
}

.nav_menu p.active {
	border-bottom: 1px solid var(--text-secondary);
}

.nav_menu p.active a {
	color: var(--text-primary);
}

.nav_menu p.active:hover {
	border-bottom: 1px solid var(--text-primary);
}

.nav_menu p.site_title {
	margin-right: 1.25rem;
	border-bottom: none;
}

.nav_menu p:nth-child(n+2) {
	margin-right: 0.5rem;
}

.nav_menu p.buy {
	margin-left: 0.75rem;
}


/* Main */
.main {
	color: var(--text-primary);
	width: 25rem;
	padding-top: 8.75rem;
	position: relative;
	pointer-events: auto;
}

.main:before {
	content: "";
	display: block;
	width: 27rem;
	height: calc(100% + 0.5rem);
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--background-blur);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	z-index: -1;
}

.main.buy {
	margin-bottom: 1.25rem;
}

@media screen and (max-width: 560px) {
	.main {
		padding-top: 6.875rem;
		margin-bottom: 6.875rem;
		width: 100%;
	}
	.main:before {
		display: none;
	}
}

.main p {
	margin-bottom: 0.5625rem;
}

.main p.indented {
	padding-left: 1.5rem;
}

.main .section_title {
	margin-top: 2.75rem;
	font-style: italic;
}

.main .section_title:first-child {
	margin-top: 0;
}

.main .submit {
	display: block;
	margin-top: 1.6875rem;
	position: relative;
}

.main .submit:before {
	content: "→";
	display: block;
	position: absolute;
	top: 0;
	left: -1.5rem;
	margin-right: 0.4375rem;
}

@media screen and (max-width: 560px) {
	.main .submit:before {
		position: relative;
		display: inline-block;
		top: inherit;
		left: inherit;
	}
}

.buy_preview {
	width: 100%;
	margin-top: 2.75rem;
}

.main .submission_guide {
	margin-top: 3rem;
}

/* Footer Block */
footer {
	max-width: 22.5rem;
	position: fixed;
	bottom: 1.5rem;
	left: var(--desktop-margin);
	z-index: -2;
	pointer-events: auto;
}

@media screen and (max-width: 560px) {
	footer {
		max-width: initial;
		width: 100%;
		position: relative;
		left: inherit;
		bottom: inherit;
		z-index: auto;
		padding-bottom: 1.5rem;
	}
}

footer .section_title {
	margin-top: 1.125rem;
	font-style: italic;
}

footer .section_title:first-child {
	margin-top: 0;
}

.bio .name {
	color: var(--text-secondary);
	cursor: pointer;
}

.bio.active .name {
	color: var(--text-primary);
}

.bio .name:hover {
	color: var(--text-primary);
}

.bio p:last-child {
	max-height: 0;
	opacity: 0;
	pointer-events: none;
	padding-bottom: 0;
}

.bio.active p:last-child {
	max-height: 7rem;
	opacity: 1;
	pointer-events: all;
	padding-bottom: 0.5rem;
	color: var(--text-secondary);
}

/* -- Paypal button specific -- */

.paypal_button {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}